/* General settings */

$highlight-color: fuchsia;
$text-box-color:#161616;
$background-color: #0E0E0E;

body {
  background-color: $background-color;
  font-family: 'Fira Code', monospace;
}

h1, h2, h3, p {
  color: white;
}

h2 {
  font-size: 25px;
}

#title-figure {
  color: fuchsia;
}

p strong {
  font-weight: normal;
  color: $highlight-color;
}



/* home page settings */

#home-wrapper {
  background-color: $text-box-color;
  width: 80%;
  margin: 10% auto;
  padding: 10%;
}

#home-heading {
  width: 90%;
  margin-bottom: 5%;
  font-size: 50px;
  color: white;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: $highlight-color;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: $highlight-color;
  box-shadow: 9px 9px 10px -3px #f53585;
}


#home-description {
  max-width: 90%;
  color: white;
}

.post-list {
  margin-left: 4%;
  color: white;
  list-style-type: disc;
}

#post-list-heading {
  margin-top: 5%;
  margin-bottom: 3%;
}

li:not(:last-child) {
  margin-top: 2px;
  margin-bottom: 2px;
}

.post-link {
  font-size: medium;
  color: white;
  
}

.post-link:visited {
    color: white;
  }

#home-social-box {
  display: flexbox;
  width: 35%;
  margin: 0% auto;
  height: 8%;
  max-height: auto;
  ;
}

.home-social-icon {
  max-width: 20%;
  min-width: 40px;
  max-height: auto;
  margin: 5%;
  color: gray;
}

/* post template settings */

.post-box{
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  background-color: $text-box-color;
}