/* General settings */

$highlight-color: #ff7aad;
$text-box-color: #1c2126;
$background-color: #181c20;
$basic-font: white;
$title-font: 'Fira Code', monospace;
$text-font: 'Ubuntu', sans-serif;

.wrapper {
  display: grid;
  grid-template-columns: 30% 80% 30%;
  width: 100%;

  @media screen and (max-width: 600px) {
    display: block;
    align-items: center;
  }
}

.toc-box {
  grid-column-start: 1;
  position: static;
  left: 0;
  font-size: small;

  @media screen and (max-width: 600px) {
    position: static;
    width: 90%;
    font-size: medium;
    background-color: $text-box-color;
    margin-bottom: 3%;
    left: auto;
    float: none;
  }
}

.post {
  grid-column-start: 2;
  width: 80%;
  float: right;
  padding: 5%;
  background-color: $text-box-color;

  @media screen and (max-width: 600px) {
    float: none;
  }

  h2 {
    margin-top: 6%;
  }
}

.language-javascript {
  background-color: black;
}

body {
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $basic-font;
  font-family: $title-font;
}

p, li {
  color: $basic-font;
  font-family: $text-font;
}

a:hover {
  color: $highlight-color;
}

#title-figure {
  color: $highlight-color;
}

p strong {
  font-weight: bold;
  color: $highlight-color;
}


/* home page settings */


#home-wrapper {
  background-color: $text-box-color;
  width: 80%;
  margin: 10% auto;
  padding: 10%;
}

#home-heading {
  width: 90%;
  margin-bottom: 5%;
  font-size: 50px;
  color: $basic-font;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: $highlight-color;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: $highlight-color;
  box-shadow: 9px 9px 10px -3px #f53585;
}


#home-description {
  max-width: 90%;
  color: $basic-font;
}

.post-list {
  margin-left: 4%;
  color: $basic-font;
  list-style-type: disc;
}

#post-list-heading {
  margin-top: 5%;
  margin-bottom: 3%;
}

li:not(:last-child) {
  margin-top: 2px;
  margin-bottom: 2px;
}

.post-link {
  font-size: medium;
  color: $basic-font;
  
}

.post-link:visited {
    color: $basic-font;
  }

#home-social-box {
  display: flexbox;
  width: 35%;
  margin: 0% auto;
  height: 8%;
  max-height: auto;
  ;
}

.home-social-icon {
  max-width: 20%;
  min-width: 40px;
  max-height: auto;
  margin: 5%;
  color: gray;
}

/* post template settings */



/*  styles for larger screens */




