<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          <div id="home-wrapper">
            <div id="home-heading-box">
              <h1 id="home-heading">
                <span id="title-figure">> </span>
                <span>manuel migoya</span>
              </h1>
            </div>
          {%- if site.posts.size > 0 -%}
            <h2 id="post-list-heading">{{ page.list_title | default: "> my latests posts" }}</h2>
            <ul class="post-list">
              {%- for post in site.posts -%}
              <li class="home-post-element">
                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {%- if site.show_excerpts -%}
                  {{ post.excerpt }}
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
        
          {%- endif -%}
            <div id="home-social-box">
              <a href="https://github.com/migmanu"><img class="home-social-icon" src="/icons/github_logo.png" alt="github logo"></a>
              <a href="https://github.com/migmanu"><img class="home-social-icon" src="/icons/github_logo.png" alt="github logo"></a>
              <a href="https://github.com/migmanu"><img class="home-social-icon" src="/icons/github_logo.png" alt="github logo"></a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
